In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('tamil_train.csv')

In [3]:
df.head()

                   movie vara level la Erika poguthu  Not_offensive
0  I love Ajith Kumar Vivegam movie inki mjy bht ...      not-Tamil
1          Padam nalla comedy padama irukum polaye..  Not_offensive
2  karthick subburaj anne .... intha padam vetri ...  Not_offensive
3  ‡Æï‡Æµ‡ØÅ‡Æ£‡Øç‡Æü‡Æ∞‡Øç ‡Æ§‡Øá‡Æµ‡Æ∞‡Øç.‡Æö‡Ææ‡Æ∞‡Øç‡Æ™‡Ææ‡Æï ‡Æµ‡ØÜ‡Æ±‡Øç‡Æ±‡Æø ‡Æ™‡ØÜ‡Æ± ‡Æµ‡Ææ‡Æ¥‡Øç‡Æ§‡Øç‡Æ§‡ØÅ‡Æï‡Øç‡Æï‡Æ≥‡Øç ü¶Å  Not_offensive
4  ippo intha trailer ah parkuravana oru like pod...  Not_offensive

In [4]:
df.Not_offensive.unique()

array(['not-Tamil', 'Not_offensive', 'Offensive_Targeted_Insult_Other',
       'Offensive_Targeted_Insult_Group', 'Offensive_Untargetede',
       'Offensive_Targeted_Insult_Individual'], dtype=object)

In [6]:
df.shape

(35138, 2)

In [7]:
df1=pd.DataFrame({"movie vara level la Erika poguthu":["movie vara level la Erika poguthu"],
                 "Not_offensive":["Not_offensive"]})

In [8]:
df1.head()

   movie vara level la Erika poguthu  Not_offensive
0  movie vara level la Erika poguthu  Not_offensive

In [9]:
data=df1.append(df, ignore_index = True)

In [10]:
data.head()

                   movie vara level la Erika poguthu  Not_offensive
0                  movie vara level la Erika poguthu  Not_offensive
1  I love Ajith Kumar Vivegam movie inki mjy bht ...      not-Tamil
2          Padam nalla comedy padama irukum polaye..  Not_offensive
3  karthick subburaj anne .... intha padam vetri ...  Not_offensive
4  ‡Æï‡Æµ‡ØÅ‡Æ£‡Øç‡Æü‡Æ∞‡Øç ‡Æ§‡Øá‡Æµ‡Æ∞‡Øç.‡Æö‡Ææ‡Æ∞‡Øç‡Æ™‡Ææ‡Æï ‡Æµ‡ØÜ‡Æ±‡Øç‡Æ±‡Æø ‡Æ™‡ØÜ‡Æ± ‡Æµ‡Ææ‡Æ¥‡Øç‡Æ§‡Øç‡Æ§‡ØÅ‡Æï‡Øç‡Æï‡Æ≥‡Øç ü¶Å  Not_offensive

In [11]:
data1=data.rename(columns={"movie vara level la Erika poguthu": "text", "Not_offensive": "label"})

In [12]:
data1.shape

(35139, 2)

In [13]:
data1.head()

                                                text          label
0                  movie vara level la Erika poguthu  Not_offensive
1  I love Ajith Kumar Vivegam movie inki mjy bht ...      not-Tamil
2          Padam nalla comedy padama irukum polaye..  Not_offensive
3  karthick subburaj anne .... intha padam vetri ...  Not_offensive
4  ‡Æï‡Æµ‡ØÅ‡Æ£‡Øç‡Æü‡Æ∞‡Øç ‡Æ§‡Øá‡Æµ‡Æ∞‡Øç.‡Æö‡Ææ‡Æ∞‡Øç‡Æ™‡Ææ‡Æï ‡Æµ‡ØÜ‡Æ±‡Øç‡Æ±‡Æø ‡Æ™‡ØÜ‡Æ± ‡Æµ‡Ææ‡Æ¥‡Øç‡Æ§‡Øç‡Æ§‡ØÅ‡Æï‡Øç‡Æï‡Æ≥‡Øç ü¶Å  Not_offensive